{%  extends 'layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block subTitle %} Blog {% endblock %}

{% block body %}

    <div class="blog-post">
        {% for post in posts %}

            <h3>{{ post.title }}</h3>
            <p class="blog-post-meta text-body">Rédigé le {{ post.createdAt | date("d/m/Y à H:i") }} </p>

            <p>{{ post.headline }}<br>
            <a href="/post/{{ post.id }}/single"> Lire la suite ...</a><br>
            <span class="badge badge-secondary mt-3">4 commentaires</span></p>
            <p>Post number {{ post.id }}</p>

        {% endfor %}

    </div>

{% endblock %}

