{%  extends 'admin.html.twig' %}

{% block title %} Edit an article {% endblock %}

{% block body %}

    <div class="container">

        <div class="col-md-8 order-md-1">

            <form class="needs-validation" method="post" action="/admin/update-article" novalidate>

                <div class="mb-3">
                    <label for="title">Title :</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Article title" value="{{ single.title }}" autofocus required>
                    <small id="titleHelp" class="form-text text-muted">less than 50 characters.</small>
                    <div class="invalid-feedback">
                        Please enter a valid title.
                    </div>
                </div>


                <div class="mb-3">
                    <label for="headline">Headline :</label>
                    <textarea class="form-control" id="headline" name="headline" rows="5">{{ single.headline }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="content">Content :</label>
                    <textarea class="form-control" id="content" name="content" rows="5">{{ single.content }}</textarea>
                    <small id="titleHelp" class="form-text text-muted">less than 50 characters.</small>
                    <div class="invalid-feedback">
                        Please enter a valid title.
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text"  id="id" name="id" value="{{ single.id }}" hidden>
                </div>

                <div class="mb-3">
                    <input type="text"  id="FK_user_id" name="FK_user_id" value="{{ current_user.id }}" hidden>
                </div>

                <hr class="mb-4">
                <button class="btn btn-warning btn-lg btn-block" type="submit">Update</button>
                <button class="btn btn-primary btn-lg btn-block" type="reset">Cancel</button>
            </form>
        </div>

    </div>


{% endblock %}
